<footer class="footer">
    <div class="content has-text-centered">
      <div class="buttons is-centered">
        <a class="button is-github" href="https://github.com/chesun" target="_blank">
          <span class="icon">
            <i class="fab fa-github"></i>
          </span>
          <span>GitHub</span>
        </a>
  
        <a class="button is-linkedin" href="https://linkedin.com/in/chesun1" target="_blank">
          <span class="icon">
            <i class="fab fa-linkedin"></i>
          </span>
          <span>LinkedIn</span>
        </a>
  
        <a class="button is-email" href="mailto:ucsun@ucdavis.edu">
          <span class="icon">
            <i class="fas fa-envelope"></i>
          </span>
          <span>Email</span>
        </a>
      </div>
  
      <p class="mt-4">
        © {{ site.time | date: "%Y" }} {{ site.title }}
      </p>
    </div>
  </footer>
  